
			<div class="row">
				<main class="col-md-12">



                    <!-- Start your code here -->
                    <h3>Tables Section</h3>
                    <table>
                        <caption>Expenditure Monthly</caption>
                        <thead>
                          <tr>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Savings</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="2"> January, 1990</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <td>February</td>
                            <td>1880</td>
                            <td rowspan="2">$90</td>
                          </tr>
                          <tr>
                            <td>March</td>
                            <td>1890</td>
                            
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2">Sum</td>
                            <td >$270</td>
                          </tr>
                        </tfoot>
                      </table>
                      
                                            <p>The tables shows the monthly expenditure of Janani Manoharan. The main items are taken into consideration</p>
                      <br>
                      <br>
					
                      <h3>Lists Section</h3>
                      <ol> <!-- also <ul>...</ul> for "unordered list"-->
                        <li>
                            Grocery
                            <ul>
                                <li>Veg</li>
                                <li>Non-veg</li>
                                <li>condiments</li>
                            </ul>
                        </li>
                        <li>Room Rent </li>
                        <li>Transport and Travel</li>
                        <li>Miscelleneous</li>
                        <li>House Party</li>
                        <br>
                        <p>These would be main expenditure for a month. </p>
                    </ol>
                    <br>
                    <br>

                    <h3>Images Section</h3>
                    <img src="https://th.bing.com/th/id/Rf4d96c23dafb8a1573533dbf065c10ef?rik=iQnWlN%2b%2bid23JQ&riu=http%3a%2f%2fcdn.corporate.walmart.com%2fdims4%2fWMT%2ff13d924%2f2147483647%2fresize%2f1200x%3e%2fquality%2f90%2f%3furl%3dhttps%3a%2f%2fcdn.corporate.walmart.com%2f53%2fe1%2fafe0c7b249f4ad2a4cfc275095ab%2fwalmart-store-exterior.jpg&ehk=ILB7lBrOb133GPKxaQ082zY2Y9XS3SwnhiqkqEnPKaQ%3d&risl=&pid=ImgRaw" alt="Walmart Canada" width="500" height="400">
                    <br>
                    <br>
                    <br>
                    <img src="https://www.canadiansavers.ca/wp-content/uploads/2020/05/no-frills-coupons.jpg" alt="No frills Canada" width="500" height="400">
                    <br>
                    <br>
                    <br>
                    <img src="https://th.bing.com/th/id/R672a90723e58498bbda147a88dddccf5?rik=lfo%2f22v74W9FmA&riu=http%3a%2f%2fsharinghorizons.com%2fwp-content%2fuploads%2f2016%2f06%2fsuperior-029.jpg&ehk=7WqJj%2bbzYE23tDD5YKkDgYJWmH8uL%2bqvA8C7z8vptaw%3d&risl=&pid=ImgRaw" alt="Superstore Canada" width="500" height="400">
                    <br>
                    <br>
                    <br>
                    <p>These are the main places where I tend to go shopping for all the neccessary items required for the entire month</p>
                    <br>
                    <br>
                    <h3>Audio Section</h3>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.mp3" type="audio/mp3">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.ogg" type="audio/ogg">
                      Your browser does not support the audio element.
                      </audio>
                      <br>
                      <p>This classical music is the one which I usually prefer while going to shopping. It is quite relaxing</p>
                      <br>
                      <br>
                      <h3>Video Section</h3>
                      <video  width = "300" height = "200" controls autoplay>
                        <source src = https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.mp4 type ="video/mp4" />
                        <source src = "https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.ogg" type = "video/ogg" />
                        <source src = "https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.webm" type = "video/webm" />
                     </video>
                     <br>
                     <p>The video tag is used to show videos in the website. the src attribute will contain the url to the vioe source or file 
                         and type attribute will show the video type. </p>
                      <br>
                      <br>
                      <!-- End your code here  -->



				</main>
			</div>
		