<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test - Web</title>
  <link rel="stylesheet" href="/css/theme.css" />
</head>
<body>
	<h3>3rd Largest Heading</h3>
	<p>Paragraph containing Link to <a href="https://www.youtube.com/" target="_blank">http://youtube.com</a></p>
                    <table>
                        <caption>Expenditure Monthly</caption>
                        <thead>
                          <tr>
                            <th>Heading1</th>
                            <th>Heading2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> Flims</td>
                            <td rowspan="2"><img src="https://www.fillmurray.com/90/190" alt="smiley face"/></td>
                            <td><ul><li>1st Director</li><li>2nd Director</li></ul></td>
						</tr>
                          <tr>
                            <td>steve</td>
							<td>Zissou</td>
                          </tr>
                          
                        </tbody>
                        
                      </table>
</body>
</html>